


/* -----------start heading--------- */



body{ background-color:azure;}

:root{--main-color:rgb(214, 20, 20)}
h4{line-height: 1px;}

.banner{background-color: black;
    height: 55%;
    width: 90%;
    border-radius:20px;
    margin-left: 35px;
    padding: 25px;}
    
h1,p{color: var(--main-color);}

p{line-height:2px;}

h1{font-size:xx-large;}

.top{display: flex;
}
 .top img {width:100%;
          height: 100vr;
          margin-left: 35%;}


 .info{ padding: 35px;}


.now{border: 1px solid black;
    background-color:brown;
    text-decoration: none;
    color: rgb(175, 243, 16);
    padding: 6px;
    border-radius: 2px;
    cursor: pointer;
    transition:transform, .5s;}


.now:hover{transform: translate(20px);
           background-color: red;}



/* ----players name & Input----- */



.input{background-color:black ;
    height: 195px;
    width: 230px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin-left: 1px;}


.blog {margin: 10px;
    padding: 18px 25px;
    color: rgb(19, 18, 18);
    background-color: rgb(214, 216, 216);
    border-radius: 5px;font-weight: 600;}

#blog{background-color: red;
color: #fff;
cursor: pointer;
padding:18px 25px ;
border-radius: 5px;
font-weight: 600;
}

.all{display: flex;
    margin: 25px;
    padding: 10px;}


.details{
padding: 6px 6px;}

#player{display: grid;
grid-template-columns: repeat(3,1fr);
row-gap: 35px;
column-gap: 55px;
margin-left:55px;

}


#player img{width: 263px;
height: 125px;}

.six{background-color: antiquewhite;
border: 1px solid rgb(212, 96, 96);
border-radius: 9px;
align-items: center;
padding:5px ;}

.details i {
color:red;
padding: 1px 20px;
font-style: normal;
font-size: 13px;}


/*------- footer---------- */

.footer{background-color: black;   

}

.option ul {display: flex;
justify-content: center;}
.last {display: flex;
justify-content: center;
}
h3{color: rgb(65, 85, 51);justify-content: center;
}
#fast {color:rgb(223, 17, 27);
margin: 0% 46%;

font-size: 2rem;}

.option ul li a {text-decoration: none;
padding: 0 10px;

font-weight: bold;}

.last i {margin: 0 15px;}

.size{padding:  3% 15% 0;
    margin: 15% 0 0;
    justify-content: center;}

.option hr{color: aqua;}


/* @media only screen and (max-width:688px)
 
 {  .container{width: 100%;}
    .player, .blog {flex-direction: column;}
    .players, .blogs, .courses {grid-template-columns: repeat(1,1fr);}}

@media only screen and (min-width:688px) and (max-width:992px) {
    .container{width: 100%;}
    .players{background-color: #ee5b2f;}} */


/* 
@media only screen and (max-width:688px) { */

    /* .banner, .top{flex-direction: column;}
    .banner{width: 100%;}
    .all{flex-direction: column;}

      #player,.six {grid-template-columns: repeat(1fr,1);}    

  */

    @media only screen and (max-width:688px) {
        .banner {flex-direction: column;}
        
    }
    
   